.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .image-container {
    margin-right: 20px;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search-container select,
  .search-container input,
  .search-container button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }
  